<!--Footer-->
<div id="footer-links">
    <p id="footer-icons">
        <a class="footer-icon" target="_blank" href="<%= links.github %>"><i class="fa fa-github"> </i></a>
        <a class="footer-icon" target="_blank" href="<%= links.linkedin %>"><i class="fa fa-linkedin-square"> </i></a>
        <a class="footer-icon" target="_blank" href="<%= links.trailhead %>"><i class="fa fa-cloud"> </i></a>
        <a class="footer-icon" target="_blank" href="/blog"><i class="fa fa-edit"> </i></a>
    </p>
    <p id="footer-email">You can reach me at <span> <a href="mailto:tarkowr@gmail.com" class="color-primary">tarkowr@gmail.com</a> </span></p>
</div>