<!--Footer-->
<div id="footer-links" ng-controller="links">
    <p id = "footer-icons">
        <a class = "footer-icon" target="_blank" href="{{instagram}}"><i class="fa fa-instagram"> </i></a>
        <a class = "footer-icon" target="_blank" href="{{gitHub.domain}}"><i class="fa fa-github"> </i></a>
        <a class = "footer-icon" target="_blank" href="{{linkedIn}}"><i class="fa fa-linkedin-square"> </i></a>
        <a class = "footer-icon" target="_blank" href="{{trailHead}}"><i class="fa fa-cloud"> </i></a>
    </p>
    <p id = "footer-email" ng-controller="personalInfo">You can reach me at <span> tarkowr@gmail.com </span></p>
</div>