<!--Header-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Richie Tarkowski</title>

<base href="/">
<!--Site Icon-->
<link rel = "icon" href = "/static/favicon.ico">
<!--Site CSS-->
<link rel="stylesheet" href="/static/stylesheets/css/main.css">
<!--Google Fonts API-->
<link href='https://fonts.googleapis.com/css?family=Asap|Abhaya Libre' rel='stylesheet'>
<!--Font Awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Angular.js-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>