<!--Navbar-->
<div id = "navigation" class = "scrolled-navigation">
    <i class = "fa fa-align-justify" id = "nav-bars"> </i>
    <a href="#about-me" class = "nav-links">About Me</a>
    <a href="#links-top" class = "nav-links">Links</a>
    <a href="#projects-top" class = "nav-links">Projects</a>
</div>
<div id="nav-personal">
    <p>
        <div id="name" ng-controller="personalInfo"> RICHIE TARKOWSKI </div>
    </p>
</div>
<a href = "#about-me"><div id = "read-more">
    Continue
</div></a>