<!--Navbar-->
<div id="navigation" class="default-navigation disabled">
    <i class="fa fa-bars" id="nav-bars"> </i>
    <a href="#about-me" class="nav-links">About Me</a>
    <a href="#links-top" class="nav-links">Connect</a>
    <a href="#projects-top" class="nav-links">Projects</a>
</div>