<!--Navbar-->
<div id = "navigation" class = "scrolled-navigation">
    <i class = "fa fa-bars" id = "nav-bars"> </i>
    <a href="#about-me" class = "nav-links">ABOUT ME</a>
    <a href="#links-top" class = "nav-links">LINKS</a>
    <a href="#projects-top" class = "nav-links">PROJECTS</a>
</div>