/*Page Defaults and Custom Styles*/
html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Muli", sans-serif;
  font-weight: 200;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

a {
  color: #282828;
  text-decoration: none;
}

.styled-btn {
  margin: 0 auto;
  background-color: #678;
  border: 1px solid #678;
  color: white;
  font-size: 1.1em;
  width: 180px;
  height: 60px;
}

.styled-btn:hover {
  background-color: rgba(102, 119, 136, 0.85);
  border: 1px solid rgba(102, 119, 136, 0.85);
}

button {
  font-size: 1.1em;
}

.disabled {
  display: none;
}

/*NavBar*/
nav {
  margin: auto;
  width: 100%;
  height: 100%;
  background: url("../../media/blog-design.png") no-repeat center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  color: white;
  z-index: 2;
  font-family: "Muli", sans-serif;
  font-size: 1.2em;
  background-color: #282828;
  border-bottom: 2px solid #f4425f;
}

.link {
  margin: 20px 0px 20px 30px;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  width: auto;
}

.home {
  color: white;
}

#navbar > i {
  position: fixed;
  top: 15px;
  right: 15px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  padding: 8px 12px;
  border-radius: 8px;
  display: none;
}

@media (max-width: 1024px) {
  #navbar {
    transition: height 0.5s;
    transition-timing-function: ease;
  }

  .link {
    display: none;
    width: 80%;
    margin: 5px 10px;
    margin-top: 0px;
  }

  .home {
    margin: 20px 0px 20px 10px;
    display: block;
    transition: margin 1s;
  }

  #navbar > i {
    display: block;
  }
}
#navbar > a:hover {
  color: white;
}

#navbar > i:hover {
  color: white;
  border: 1px solid white;
}

#title {
  text-align: center;
  display: inline-block;
  margin-top: 14%;
  width: 100%;
  font-size: 2em;
}

#title-container {
  margin: 0 auto;
  width: 50%;
  padding-top: 8%;
  padding-bottom: 7%;
  background-color: #282828;
  color: white;
  border-radius: 10px;
  font-size: 1.2em;
  box-shadow: 0px 0px 6px #282828;
}

.typed-cursor {
  color: #f4425f;
}

#read-more {
  font-size: 18px;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
  border: 1px solid #f4425f;
  background-color: white;
  color: #f4425f;
}

#read-more:hover {
  background-color: #f4425f;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

@media (min-width: 481px) and (max-width: 1024px) {
  #title {
    margin-top: 25%;
    font-size: 1.5em;
  }

  #title-container {
    width: 80%;
  }
}
@media (max-width: 480px) {
  #title {
    margin-top: 60%;
    font-size: 1.2em;
  }

  #title-container {
    width: 80%;
  }

  #read-more {
    width: 140px;
    height: 45px;
  }
}
#nav-arrows {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 1.3em;
  background-color: #282828;
  border: 2px solid #f4425f;
}

#nav-arrows > a {
  display: block;
  color: white;
  padding: 5px 10px 5px 10px;
}

#nav-arrows > a:hover {
  background-color: #f4425f;
}

/*Blogs*/
main {
  background-color: #282828;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 200px;
}

.blog-top {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 100px;
}

.blog-post {
  width: 60%;
  margin: 0 auto;
  color: white;
  font-size: 1.2em;
  text-align: center;
  background-color: white;
  color: #282828;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
  border: 2px solid white;
}

.blog-post:hover {
  border: 2px solid #f4425f;
  transition: border 0.5s;
}

.blog-header {
  font-size: 2em;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.blog-header span {
  color: #f4425f;
}

.blog-content {
  text-align: justify;
  padding: 10px;
}

.blog-footer {
  font-size: 0.8em;
  color: #678;
}

.blog-line {
  width: 60%;
}

@media (max-width: 480px) {
  .blog-content {
    text-align: left;
  }
}
@media (max-width: 1024px) {
  .blog-post {
    width: 85%;
  }
}
/*Footer*/
footer {
  background-color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 50px 0;
  color: #282828;
}

#footer-email a {
  color: #4286f4;
}

#footer-email a:hover {
  color: #678;
  text-decoration: none;
}

footer a {
  color: #282828;
  text-decoration: none;
}

footer a:hover {
  color: #4286f4;
  text-decoration: underline;
}

#footer-icons {
  font-size: 1.8em;
}

.footer-icon {
  margin: 0 5px;
}

/*# sourceMappingURL=blog.css.map */
