<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/error-header %>
</head>

<body class = "error-body">
    <div class = "error">
        <div class = "error-title">
            <%= title %>
        </div>

        <div class = "error-msg">
            <%= msg %>
        </div>

        <div class = "error-desc">
            <%= desc %>
        </div>

        <a href="/"><button class = "styled-btn" id = "error-btn">Home Page</button></a>
    </div>
</body>
</html>