<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/error-header %>
</head>

<body class="error-body">
    <div class="error m-auto text-center pos-fixed">
        <div class="error-title">
            <%= title %>
        </div>

        <div class="error-msg">
            <%= msg %>
        </div>

        <div class="error-desc">
            <%= desc %>
        </div>

        <button class="styled-btn" id="error-btn" onclick="window.location.reload()">Reload</button>
    </div>
</body>
</html>
