<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alyssa Tarkowski</title>
    <!--Google Fonts API-->
    <link href='https://fonts.googleapis.com/css?family=Muli:200,300,400,600' rel='stylesheet'>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/css/alyssa.css">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div id="navbar">
        <a href="/alyssa" class="link home">Alyssa Tarkowski</a>
        <a href="/alyssa" class="link" id="linkOne">Home</a>
        <a href="/alyssa" class="link" id="linkTwo">About</a>
        <i class="fa fa-bars" id="nav-bar"></i>
    </div>
    
    <div style="text-align:center;">
        <h1 style="padding-top: 100px;">Alyssa Tarkowski</h1>
        <p>Hi guys! My name is Alyssa and this is my website!</p>
    </div>

    <!--Site JS-->
    <script src="/static/scripts/blog/blogNavbar.js"></script>
</body>
</html>
