<!DOCTYPE html>
<html lang="en">

<head>
    <!--Blog CSS-->
    <link rel="stylesheet" href="/static/stylesheets/css/blog.css">
    <title>Richie Tarkowski | Blog</title>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <% include ../partials/header %>
    
    <!--TypedJS-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
</head>
<body>

    <div id="nav-arrows">
        <a id="top-arrow"><i class="fa fa-caret-up"></i></a>
        <div></div>
        <a id="bottom-arrow"><i class="fa fa-caret-down"></i></a>
    </div>

    <nav>
        <div id="navbar">
            <a href="/" class="link home">Richie Tarkowski</a>
            <a href="/" class="link" id="linkOne">Home</a>
            <a href="/blog" class="link" id="linkTwo">Blog</a>
            <i class="fa fa-bars" id="nav-bar"></i>
        </div>

        <div id="title">
            <p id="title-container">
                <span id="typed"></span> <br>
            </p>
        </div>

        <a class="disabled" href="#blog-section"><button class="styled-btn" id="read-more">Read More</button></a>
    </nav>

    <main id="blog-section">
        <div class="blog-top">
            <p>&mdash; Blog Posts &mdash;</p>
        </div>

        <hr class="blog-line" style="border-color: transparent;" id="s1-target">

        <!--SPRINT ONE-->
        <div class="blog-post" id="sprint-one">
            <div class="blog-header">
                Sprint <span> [1] </span>
            </div>

            <div class="blog-content">
                <p>In the first sprint, our team made significant progress. We finished the Training Module assignment—our primary focus of the sprint—with each member contributing towards one or parts of the project. As a team, we wrote the training module proposal, created an extensive and complete tutorial, built a demo website, and delivered a presentation to the class. Leading up to the presentation, our team had an issue with communication as we did not set expectations for the presentation and live demonstration. However, after reflecting upon the quality of our presentation, our team discussed each mistake and agreed to work towards improving in those areas. At the time I am writing this blog, we are currently writing our proposal for the Client Project.
                <br><br>
                During this sprint, I spent over fifteen hours working on the Training Module. From the presentation to the documentation, I put forth my best efforts towards helping the team. Overall, the first sprint went well. The five of us worked together to complete the training module, despite the two classes that were canceled due to snow, and we still stepped up and presented early. One criticism that I have for our team is our tendency for groupthink. I want and would encourage members on this team to ask questions and think critically about what others are saying, rather than accepting everything at face value. This is something that we can improve upon in future sprints. </p>
            </div>

            <div class="blog-footer">
                9-Feb-2019
            </div>
        </div>

        <hr class="blog-line" id="s2-target">

        <!--SPRINT TWO-->
        <div class="blog-post" id="sprint-two">
            <div class="blog-header">
                Sprint <span> [2] </span>
            </div>

            <div class="blog-content">
                <p>In the second sprint, our team scrapped the initial project after the client informed us that they no longer needed our help. Fortunately, we had a contingency plan in case the first project fell through, so upon receiving this news, we immediately began working on the proposal for our next project, Chatversity, a messaging app for college students. Our team had extra work to do this sprint; we needed to re-write the project proposal for sprint one and submit all the sprint two deliverables. Within a few days, we formulated a new proposal for Chatversity, which allowed us to focus on planning, analysis, and design for the remainder of the sprint. By the end of sprint two, our team created a comprehensive project notebook, eight flow diagrams, two entity diagrams, wireframes for desktop and mobile, an N-Tier diagram, and a presentation. We also discussed how to setup our version control system, GitHub, to allow for manual and automated testing. One issue that the team faced was determining project scope. While determining user stories, our team identified numerous features that would be a great for Chatversity. However, it is unrealistic to implement all of them in the short amount of time that we have to complete the project. To resolve this issue, we agreed to work on the necessary features for a messaging app first and then add on additional features after if we have time.
                <br> <br>
                I spent most of my time in this sprint on creating diagrams and flow charts. While I worked on the project proposal, notebook, and presentation, my primary contribution was the entity and entity relationship diagrams, the N-Tier diagram, and several of the flow diagrams.
                Reflecting upon the past three weeks, sprint two went very well. Our team persevered when the first project fell through, and each member contributed to multiple deliverables in the sprint. Since the beginning of this project, communication within the team has increased as we are getting more comfortable with working with each other. I am looking forward to the next three sprints with this team.
                </p>
            </div>

            <div class="blog-footer">
                3-March-2019
            </div>
        </div>

        <hr class="blog-line" id="s3-target">

        <!--SPRINT THREE-->
        <div class="blog-post" id="sprint-three">
            <div class="blog-header">
                Sprint <span> [3] </span>
            </div>

            <div class="blog-content">
                <p>Our deliverables for the third sprint include a fully-functional static website for Chatversity and a style guide for the web app and static website. The static website contains the following pages: Home, About, Contact, Pricing, and FAQ. In addition to the unique content on each page, we established a standard navbar and footer for all pages. The website is also mobile-friendly, providing a very similar user experience for mobile and desktop. The style guide defines the font families, icons, and color palette for Chatversity’s web app and static website. One issue that our team faced was determining which branching strategy to implement in our version control system, GitHub. We discussed multiple options as a team and ultimately decided to create feature branches for each user story and to utilize pull requests to perform code reviews. That way, user stories drive our work and contributions to the project, and another team member checks the code that we merge into the master branch.
                <br> <br>  
                I wrote all the user stories for the static website, built the About page, modified the website to make it more mobile-friendly, contributed to the presentation, and edited the project notebook in this sprint. One issue that I encountered was editing my team member’s code to enhance the UI/UX of the website on mobile devices. I was cautious in adjusting the components on each page so that the user interface remained nearly identical for desktop, while I also added styles to provide a similar experience for mobile users. Although sprint three was short in comparison to the other sprints—it was only two weeks long—our team accomplished a lot and established a plan for the rest of the semester. In fact, we split up our remaining work into weeks, instead of the last two sprints, so that we are more focused each week and have a goal to reach by the end of each seven-day period.
                </p>
            </div>

            <div class="blog-footer">
                17-March-2019
            </div>
        </div>

        <hr class="blog-line" id="s4-target">

        <!--SPRINT FOUR-->
        <div class="blog-post" id="sprint-four">
            <div class="blog-header">
                Sprint <span> [4] </span>
            </div>

            <div class="blog-content">
                <p>At the start of sprint four, our team finished Chatversity’s static site by adjusting several styles and adding more content to each page. After we completed the static site, we reviewed and fine-tuned the wireframes for the web app and immediately began development. Our team decided to use a front-end first approach, so we created the user interface for each view (component) before implementing the back-end. As this sprint closes, we have accumulated over twenty components in the web app. Users can login, send messages, view their profile and connections, navigate across the site to see all other views, and then logout. Currently, functionality for sign up and edit profile are near completion and settings views are in progress. Over the course of sprint four, our team encountered, but resolved many issues. Problems with custom data storage, profile pictures, data flow, and Okta / Pusher API’s arose. We handled these problems by creating a new issue in GitHub, describing the problem, providing steps to recreate (if applicable), and informing the team of the bug via Discord. If the individual who reported the problem is unable to solve it on their own, then another team member will use the information in the GitHub issue to help solve it. This process worked well for our team as it allowed us to quickly fix issues.
                <br><br>
                During this sprint, I was responsible for the signup, profile, connections, and home components, but I also worked on the new-user, forgot, navbar, and top-nav components. Building these components entailed the front-end (HTML/CSS/Angular), back-end (Angular/ TypeScript/NodeJS), form validation, and any component integration. In retrospective, sprint four was our team’s most productive sprint—yet most time-consuming sprint. It went very well as we nearly completed a fully-functional web app in three weeks (not including spring break). One aspect of the sprint that I found problematic was dealing with merge conflicts as our team of five simultaneously contributed to the same GitHub repository. However, our branching strategy reduced the severity of this problem.
                </p>
            </div>

            <div class="blog-footer">
                14-April-2019
            </div>
        </div>

        <hr class="blog-line" id="s5-target">

        <!--SPRINT FIVE-->
        <div class="blog-post" id="sprint-five">
            <div class="blog-header">
                Sprint <span> [5] </span>
            </div>

            <div class="blog-content">
                <p>Despite it being a shorter sprint, our team immensely improved the Chatversity web app during sprint five. We implemented multiple new features, finalized site styles, fixed many bugs, deployed the Chatversity web app, updated the project notebook, and created the presentation for the final sprint review and CIT Board demo. Our team continued to use GitHub projects as our project management system for web app and GitHub issues for recording identified bugs. This process allowed us to prioritize our work and stay up-to-date with our progress. To illustrate, in handling bugs, we utilized one of three different bug labels in each GitHub issue, S1, S2, and S3. The ‘S’ stands for Severity, and the higher the number, the more significant the bug. If anyone found a bug in the project, then they would create a new issue and determine its severity so that the team could focus on fixing the most important problems first.
                <br><br>
                In sprint five, I was responsible for adding several new features to the Chatversity web app. I build a user and room search bar and search page, implemented the functionality for adding a connection and joining a room, and wrote the back-end TypeScript and NodeJS for leaving a room. I also focused on fixing several outstanding bugs, including our issues with error feedback in signup and login, user profile popup data, and form field validation. I contributed to the project notebook and sprint presentation as well. Although sprint five was a stressful sprint because we integrated new features with our existing functionality in less than two weeks, I enjoyed spending this extra time with the team. I’m proud of what we have accomplished over the course of this semester and am excited for the future of Chatversity!
                </p>
            </div>

            <div class="blog-footer">
                28-April-2019
            </div>
        </div>
    </main>

    <footer id="page-footer">
        <% include ../partials/footer %> 
    </footer>

    <!--Site JS-->
    <script src="/static/scripts/navbar.js"></script>
    <script src="/static/scripts/arrowNav.js"></script>

    <script>
        var typed=new Typed('#typed', {
            strings: ["Welcome to my Blog!", "Sprints 1 - 5"],
            typeSpeed: 25,
            startDelay: 500,
            autoInsertCss: true,
            fadeOut: true,
            backDelay: 2500,
            loop: true
        });
    </script>
</body>
</html>