/*Footer*/
footer{
    background-color: $default;
    text-align: center;
    font-size: 1.5em;
    padding: 50px 0;
    color: $offBlack;
}
#footer-email a{
    color: $primary;
}
#footer-email a:hover{
    color: $balance;
    text-decoration: none;
}
footer a{
    color: $offBlack;
    text-decoration: none;
}
footer a:hover{
    color: $primary;
    text-decoration: underline;
}
#footer-icons{
    font-size: 1.8em;
}
.footer-icon{
    margin: 0 5px;
}