$primary: #4286f4;
$secondary: #282828;
$default: white;
$light: #d3d3d3;
$extra-light: #f2f2f2;
$dark: #828282;
$font: 'Abhaya Libre', Arial, Helvetica, sans-serif;
$margin: 0 auto;
$breakpoint: 649px;