$primary: #4286f4;
$offBlack: #282828;
$fadedBlack: rgba(255,255,255,.5);
$balance: #678;
$balanceHover: rgba(102, 119, 136, .85);
$default: white;
$light: #eee;
$blogTheme: #f4425f;
$defaultFont: 'Muli', sans-serif;
$margin: 0 auto;
$breakpoint: 1024px;
$mobileBreakpoint: 480px;