$primary: #4286f4;
$hover: rgba(66, 134, 244, .75);
$secondary: #282828;
$balance: #678;
$balanceHover: rgba(102, 119, 136, .85);
$default: white;
$light: #eee;
$extra-light: #f2f2f2;
$dark: #828282;
$font: 'Abhaya Libre', Arial, Helvetica, sans-serif;
$spaced: 'Asap', monospace;
$margin: 0 auto;
$breakpoint: 1024px;