@import "./_variables.scss";
@import "./_styles.scss";

/*NavBar*/
#navbar{
    @include custom-height(75px);
    z-index: 2;
    font-family: $defaultFont;
    font-size: 1.2em;
    border-bottom: 2px solid $blogTheme;
}
.link{
    @include custom-color($fadedBlack);
    @include custom-width(auto);
    @extend .display-inline-block;
    margin: 20px 0px 20px 30px;
    text-decoration: none;
    padding: 5px;
}
.home{
    color: white !important;
}
#navbar > i{
    @extend .pos-fixed;
    display: none;
    top: 15px;
    right: 15px;
    border: 1px solid rgba(255,255,255,.75);
    color: rgba(255,255,255,.75);
    padding: 8px 12px;
    border-radius: 8px;
}
@media (max-width: $breakpoint){
    #navbar{
        transition: height .5s;
        transition-timing-function: ease;
    }
    .link{
        display: none;
        width: 80%;
        margin: 5px 10px;
        margin-top: 0px;
    }
    .home{
        margin: 20px 0px 20px 10px;
        display: block;
        transition: margin 1s;
    }
    #navbar > i{
        display: block;
    }
}
#navbar > a:hover{
    @extend .color-white;
}
#navbar > i:hover{
    @extend .color-white;
    border: 1px solid $default;
}

#title{
    margin-top: 14%;
    font-size: 2em;
}
#title-container{
    @include custom-width(50%);
    padding-top: 8%;
    font-size: 1.5em;
}
.typed-cursor {
    @include custom-color($blogTheme);
}

@media (min-width : 481px) and (max-width: $breakpoint){
    #title{
        margin-top: 25%;
        font-size: 1.5em;
    }
    #title-container{
        width: 80%;
    }
}

@media (max-width : $mobileBreakpoint){
    #title{
        margin-top: 60%;
        font-size: 1.2em;
    }
    #title-container{
        width: 80%;
    }
}

#nav-arrows{
    bottom: 30px;
    right: 30px;
    font-size: 1.3em;
    border: 2px solid $blogTheme;
}
#nav-arrows > a{
    @extend .display-block;
    @extend .color-white;
    padding: 5px 10px 5px 10px;
}
#nav-arrows > a:hover{
    @include custom-bg($blogTheme);
}

/*Blogs*/
main{
    padding-top: 75px;
    padding-bottom: 200px;
}
.blog-top{
    @extend .text-center;
    font-size: 3em;
    margin-bottom: 100px;
}
.blog-post{
    @include custom-width(60%);
    @extend .m-auto;
    @extend .text-center;
    @extend .bg-white;
    @extend .color-offblack;
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    border: 2px solid $default;
}
.blog-post:hover{
    border: 2px solid $blogTheme;
    transition: border .5s;
}
.blog-header{
    font-size: 2em;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.75);
}
.blog-header span{
    @include custom-color($blogTheme);
}
.blog-content{
    @extend .text-justify;
    padding: 10px;
}
.blog-footer{
    @include custom-color($balance);
    font-size: 0.8em;
}
.blog-line{
    @include custom-width(60%);
}

@media (max-width : $mobileBreakpoint){
    .blog-content{
        text-align: left;
    }
}

@media (max-width: $breakpoint){
    .blog-post{
        width: 85%;
    }
}

@import "./_footer";