@import "./_variables.scss";
@import "./_styles";

/*NavBar*/
nav{
    margin: auto;
    width: 100%;
    height: 100%;
}
@media (max-width : $breakpoint){
    nav{
        background: none;
    }
}

@import "./navbar.scss";

#title{
    text-align: center;
    display: inline-block;
    margin-top: 14%;
    width: 100%;
    font-size: 2em;
}
#title-container{
    margin: $margin;
    width: 50%;
    padding-top: 8%;
    font-size: 1.5em;
}
.typed-cursor {
    color: $blogTheme;
}

#read-more{
    font-size: 18px;
    margin: $margin;
    margin-top: 100px;
    display: block;
    border: 1px solid $blogTheme;
    background-color: white;
    color: $blogTheme;
}

#read-more:hover{
    background-color: $blogTheme;
    color: $default;
    transition: background-color .5s, color .5s;
}

@media (min-width : 481px) and (max-width: $breakpoint){
    #title{
        margin-top: 25%;
        font-size: 1.5em;
    }
    #title-container{
        width: 80%;
    }
}

@media (max-width : $mobileBreakpoint){
    #title{
        margin-top: 60%;
        font-size: 1.2em;
    }
    #title-container{
        width: 80%;
    }
    #read-more{
        width: 140px;
        height: 45px;
    }
}

#nav-arrows{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 1.3em;
    background-color: $offBlack;
    border: 2px solid $blogTheme;
}
#nav-arrows > a{
    display: block;
    color: $default;
    padding: 5px 10px 5px 10px;
}
#nav-arrows > a:hover{
    background-color: $blogTheme;
}

/*Blogs*/
main{
    background-color: $offBlack;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 200px;
}
.blog-top{
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: $default;
    margin-bottom: 100px;
}
.blog-post{
    width: 60%;
    margin: $margin;
    color: white;
    font-size: 1.2em;
    text-align: center;
    background-color: $default;
    color: $offBlack;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    border: 2px solid $default;
}
.blog-post:hover{
    border: 2px solid $blogTheme;
    transition: border .5s;
}

.blog-header{
    font-size: 2em;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.75);
}
.blog-header span{
    color: $blogTheme;
}
.blog-content{
    text-align: justify;
    padding: 10px;
}
.blog-footer{
    font-size: 0.8em;
    color: $balance;
}
.blog-line{
    width: 60%;
}

@media (max-width : $mobileBreakpoint){
    .blog-content{
        text-align: left;
    }
}

@media (max-width: $breakpoint){
    .blog-post{
        width: 85%;
    }
}

@import "./_footer";