@import "./_variables.scss";
@import "./_styles";

/*Error Pages*/
.error-body{
    @extend .bg-offBlack;
}
.error{
    @include custom-width(60%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 5px;
}
@media (max-width: $breakpoint){
    .error{
        width: 100%;
        top: 20%;
        transform: translate(-50%, -20%);
    }
}
.error-title{
    @extend .color-white;
    @extend .w-100;
    font-weight: bold;
    font-size: 7em;
    margin-bottom: 5%;
}
.error-msg{
    @include custom-color($light);
    @extend .w-100;
    font-size: 1.4em;
    margin-bottom: 3%;
}
.error-desc{
    @include custom-color($light);
    @extend .w-100;
    margin-bottom: 5%;
}
#error-btn{
    @include custom-bg($primary);
    @include custom-height(50px);
    border: 1px solid $primary;
    font-family: $defaultFont;
    border-radius: 30px;
}
#error-btn:hover{
    @include custom-bg($balance);
    border: 1px solid $balance;
}