@import "./_variables.scss";
@import "./_styles";

/*Error Pages*/
.error-body{
    background-color: $secondary;
}
.error{
    margin: 0 auto;
    text-align: center;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 5px;
}
@media (max-width: $breakpoint){
    .error{
        width: 100%;
        top: 20%;
        transform: translate(-50%, -20%);
    }
}
.error-title{
    font-weight: bold;
    font-size: 7em;
    color: $secondary;
    color: $default;
    margin-bottom: 5%;
    width: 100%;
}
.error-msg{
    font-size: 1.4em;
    color: $dark;
    color: $extra-light;
    margin-bottom: 3%;
    width: 100%;
}
.error-desc{
    color: $light;
    margin-bottom: 5%;
    width: 100%;
}
#error-btn{
    background-color: $primary;
    border: 1px solid $primary;
    font: $font;
    border-radius: 30px;
    height: 50px;
}
#error-btn:hover{
    background-color: $balance;
    border: 1px solid $balance;
}