@import "./_variables.scss";
@import "./_styles";

@media (max-width: $breakpoint){
    nav{
        background-attachment: scroll;
    }
}

/*Nav Bar*/
.navigation{
    z-index: 2;
    transition: padding-top .5s;
    transition-timing-function: ease;
}
.nav-links{
    @extend .display-inline-block; 
    width: 200px; 
    display: inline-block; 
}
#nav-bars{
    display: none;
}
#navigation a, i{
    @extend .text-center;
    @extend .m-auto;
    padding: 15px 0;
    font-size: 17px;
}
.default-navigation{
    background-color: transparent;
    top: 0;
    padding-top: 30px;
    border-bottom: 1px solid transparent;
}
.default-navigation > a{
    @extend .color-white;
    transition: background-color .5s;
}
.default-navigation > a:hover{
    background-color: rgba(255, 255, 255, .1);
}

@media (max-width: $breakpoint){
    #navigation{
        transition: height .5s;
        transition-timing-function: ease;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    #navigation > a{
        text-align: left;
        padding: 15px;
        color: $offBlack;
    }
    #nav-bars{
        text-align: left;
        display: block;
        font-size: 1.2em;
        width: 80%;
        margin-left: 15px;
    }
}
.scrolled-navigation{
    background-color: $default;
    padding-top: 0px;
    border-bottom: 1px solid $offBlack;
}
.scrolled-navigation > a{
    @extend .color-offblack;
}
.scrolled-navigation >a:hover{
    background-color: #f9f9f9;
}

/*Top of Page*/
#nav-personal{
    padding-top: 16%;
}
#name{
    @extend .font-bubble;
    font-size: 5em;
    letter-spacing: 4px;
    word-wrap: wrap;
}

#nav-title{
    @extend .font-default;
    width: auto;
    font-size: 1.4em;
    height: auto;
    padding: 10px;
}
.typed-cursor {
    color: $primary;
}
#splash-links{
    margin-top: 80px;
}
.splash-link{
    @extend .color-white;
    font-size: 1.8em;
    padding: 10px 15px;
    margin-right: -3px;
    border: 1px solid white;
    margin-left: -2px;
}
.splash-link:hover{
    background-color: white;
    color: $offBlack;
}
.link-github{
    @extend .bg-offBlack;
}
.link-linkedin{
    background-color: #0073b1;
}
.link-linkedin:hover{
    color: #0073b1;
}
.link-mail{
    background-color: #eb4034;
}
.link-mail:hover{
    color: #eb4034;
}
.link-sf{
    background-color: #00a1e0;
}
.link-sf:hover{
    color: #00a1e0;
}
#splash-link-title{
    @extend .font-bubble;
    @extend .color-white;
    padding-top: 10px;
    font-size: 1.2em;
}
@media (max-width: $breakpoint){
    #name{
        font-size: 3.5em;
        margin-top: 40px;
    }
    #nav-title{
        font-size: 1em;
        padding-top: 25px;
    }
    #splash-links{
        margin-top: 40px;
    }
}

/*About Me*/
.about-me{
    background-color: $extra-light;
    padding: 100px 0;
    margin-top: 0;
    display: flex;
}
.about-left{
    flex: 6;
}
.about-right{
    flex: 4;
    align-self: center;
}
.about-content{
    padding-left: 10%;
}
#intro{
    width: calc(100%-80px);
    padding: 0px;
    margin-bottom: 40px;
    font-size: 1.2em;
}
#info{
    line-height: 1.4em;
}
.resume > a > button {
    @extend .font-bubble;
    width: 200px;
    font-size: 1.2em;
}
.profile-img{
    height: 475px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #282828;
}

@media (max-width: $breakpoint){
    .about-content{
        padding-left: 0px;
    }
    .about-right{
        display: none;
        flex: 0;
    }
    #intro{
        padding: 40px;
    }
    #info{
        text-align: left;
    }
}

@media (max-width: $mobileBreakpoint){
    #intro{
        padding: 20px;
    }
}

/*Links*/
.container{
    text-align: center;
    padding: 50px 0;
    padding-bottom: 150px;
}
#links-head{
    font-size: 2.5em;
    margin: 30px auto 40px auto;    
}
.card{
    @extend .bg-white;
    @extend .m-auto;
    @extend .display-inline-block;
    width: 25%;
    margin: auto 40px;
    vertical-align: top;
}
.hover-effect{
    @extend .h-100;
    color: transparent;
    border-radius: 20px;
}
.hover-effect:hover{
    @extend .color-white;
    background: rgba(0, 0, 0, .6);
    transition: background-color 1s, color 1s;
}
.hover-effect > span{
    font-size: 2em;
    letter-spacing: 1px;
    position: relative;
    top: 40%;
}
.card-image{
    @extend .m-auto;
    @extend .w-100;
    max-width: 380px;
    height: 250px;
    border: 1px solid $light;
    border-radius: 20px;
    background-size: cover;
    z-index: 1;
}
#card-github{
    background: url("../../media/computer.jpg") no-repeat;
    background-size: cover;
}
#card-linkedin{
    background: url("../../media/social.jpeg") no-repeat;
    background-size: cover;
}
#card-trailhead{
    background: url("../../media/trailhead.jpeg") no-repeat;
    background-size: cover;
}
.card-desc{
    @extend .m-auto;
    @extend .w-100;
    @extend .color-offblack;
    max-width: 380px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1em;
}
.card-desc > p > a{
    @extend .color-primary;
}
.card-desc > p > a:hover{
    text-decoration: underline;
}
.card-button{
    @extend .w-100;
    margin-bottom: 50px;
}
.card-button > a > button > i{
    margin: 0;
    padding: 0;
}
.card-link{
    @include custom-size(140px, 40px);
    @extend .color-white;
    @extend .bg-balance;
    @extend .font-bubble;
    font-size: 1.2em;
    border: 1px solid $balance;
    border-radius: 40px;
}
.card-link:hover{
    background-color: $balanceHover;
    border: 1px solid $balanceHover;
}

@media (max-width: $breakpoint){
    .card{
        width: 80%;
        margin: 0 auto;
    }
}

/*Projects*/
.projects{
    @extend .bg-darkTheme;
    text-align: center;
    padding: 50px 0;
    padding-bottom: 160px;    
}
#projects-header{
    font-size: 2.5em;
    margin: 30px auto 40px auto;
}
#filter{
    width: 60%;
    padding: 0, 0, 0, 30px;
}
#filter > select{
    margin-left: -30px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1em;
}
.proj{
    @extend .display-inline-block;
    @extend .text-left;
    @extend .color-white;
    @extend .m-auto;
    width: 60%;
    background-color: rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px black;
    border: 2px solid black;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
    transition: box-shadow .3s;
}
.proj:hover{
    box-shadow: 0px 0px 10px black;
}
@media (max-width: $breakpoint){
    #filter{
        width: 80%;
    }
    .proj{
        width: 80%;
    }
}
.proj-head{
    font-size: 1.8em;
}
.proj-tech-list{
    margin-top: 0px;
}
.proj-tech{
    @extend .font-bubble;
    @extend .display-inline-block;
    background-color: #394048;
    margin-top: 5px;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 5px 10px;
    border: 2px solid black;
}
.proj-desc{
    @extend .w-100;
    @extend .display-inline-block;
    @extend .color-white;
}
.proj-desc > a{
    @extend .color-primary;
    text-decoration: none;  
    font-weight: 400;  
}
.proj-desc > a:hover{
    text-decoration: underline;
}
.proj-desc > span{
    font-weight: bold;
}
.proj-btn{
    @extend .color-offblack;
    @extend .font-bubble;
    background-color: rgba(255,255,255,.85);
    font-size: 1em;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 0px 15px;
    margin-right: 10px;
    border: none;
}
.proj-btn:hover{
    @extend .bg-white;
}

@import "./_footer";