@import "./_variables.scss";
@import "./_styles";

/*Header*/
nav{
    margin: auto;
    width: 100%;
    height: 100%;
    background: $offBlack;
}
@media (max-width: $breakpoint){
    nav{
        background-attachment: scroll;
    }
}

/*Nav Bar*/
#navigation{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-family: $defaultFont;
    transition: padding-top .5s;
    transition-timing-function: ease;
}
.nav-links{
    width: 200px;
    display: inline-block;       
}
#nav-bars{
    display: none;
}
#navigation a, i{
    text-align: center;
    margin: $margin;
    padding: 15px 0;
    font-size: 17px;
}
.default-navigation{
    background-color: transparent;
    top: 0;
    padding-top: 30px;
    border-bottom: 1px solid transparent;
}
.default-navigation > a{
    color: $default;
    transition: background-color .5s;
}
.default-navigation > a:hover{
    background-color: rgba(255, 255, 255, .1);
}

@media (max-width: $breakpoint){
    .nav-links{
        display: none;
        width: 100%;
    }
    #navigation > a{
        text-align: left;
        padding: 15px;
    }
    #nav-bars{
        text-align: left;
        display: block;
        font-size: 1.2em;
        width: 80%;
        margin-left: 15px;
    }
}
.scrolled-navigation{
    background-color: $default;
    padding-top: 0px;
    border-bottom: 1px solid $offBlack;
}
.scrolled-navigation > a{
    color: $offBlack;
}
.scrolled-navigation >a:hover{
    background-color: #f9f9f9;
}

/*Top of Page*/
#nav-personal{
    text-align: center;
    display: inline-block;
    padding-top: 16%;
    width: 100%;
}
#name{
    font-size: 3em;
    letter-spacing: 8px;
    font-weight: 600;
    color: $default;
}

#nav-title{
    width:100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: $default;
    padding-top: 20px;
}
#full-degree{
    display: inline-block;
}
#abbr-degree{
    display: none;
}
@media (max-width: $breakpoint){
    #name{
        font-size: 2.5em;
    }
    #full-degree{
        display: none;
    }
    #abbr-degree{
        display: inline-block;
    }
}
#splash-links{
    margin: $margin;
    margin-top: 70px;
    width: 100%;
    text-align: center;
}
.splash-link{
    color: white;
    font-size: 1.8em;
    background: #4286f4;
    padding: 10px 15px;
    margin-right: -3px;
    border: 1px solid white;
    margin-left: -2px;
}
.splash-link:hover{
    background-color: white;
    color: $offBlack;
}
.link-github{
    background-color: $offBlack;
}
.link-linkedin{
    background-color: #0073b1;
}
.link-mail{
    background-color: #eb4034;
}
.link-sf{
    background-color: #00a1e0;
}

/*About Me*/
.about-me{
    background-color: $light;
    text-align: center;
    padding: 75px 0;
    margin-top: 0;
}
#intro{
    background-color: transparent;
    padding: 40px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    font-size: 1.2em;
}
#info{
    text-align: justify;  
    line-height: 1.4em;
    color: $offBlack; 
}
@media (max-width: $breakpoint){
    #intro{
        width: 80%;
        padding: 20px;
    }
    #info{
        text-align: left;
    }
}
.about-me label{
    color: $primary;
}
#tech-list{
    margin: 0 auto;
    background: white;
    border: 1px solid #D3D3D3;
    padding-left: 10px;
    border-radius: 5px;
}
.tech-item{
    padding: 10px 3px;
    display: inline-block;
    font-weight: bold;
}

/*Links*/
.container{
    width: 100%;
    background-color: $default;
    text-align: center;
    padding: 50px 0;
    padding-bottom: 150px;
}
#links-head{
    text-align: center;
    color: $offBlack;
    font-size: 2.5em;
    margin: 30px auto 40px auto;    
}
.card{
    width: 25%;
    background-color: $default;
    margin: $margin;
    margin: auto 40px;
    display: inline-block;
    vertical-align: top;
}
.hover-effect{
    height: 100%;
    color: transparent;
    border-radius: 20px;
}
.hover-effect:hover{
    background: rgba(0, 0, 0, .6);
    color: $default;
    transition: background 1s, color 1s;
}
.hover-effect > span{
    font-size: 2em;
    letter-spacing: 1px;
    position: relative;
    top: 40%;
}
.card-image{
    margin: $margin;
    width: 100%;
    max-width: 380px;
    height: 250px;
    border: 1px solid $light;
    border-radius: 20px;
    background-size: cover;
    z-index: 1;
}
#card-github{
    background: url("../../media/computer.jpg") no-repeat;
    background-size: cover;
}
#card-linkedin{
    background: url("../../media/social.jpeg") no-repeat;
    background-size: cover;
}
#card-trailhead{
    background: url("../../media/trailhead.jpeg") no-repeat;
    background-size: cover;
}
.card-desc{
    margin: $margin;
    width: 100%;
    max-width: 380px;
    color: $offBlack;  
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1em;
}
.card-desc > p > a{
    color: $primary;
}
.card-desc > p > a:hover{
    text-decoration: underline;
}
.card-button{
    width: 100%;
    margin-bottom: 50px;
}
.card-button > a > button > i{
    margin: 0;
    padding: 0;
}
.card-link{
    width: 140px;
    color: $default;
    background-color: $balance;
    border: 1px solid $balance;
    height: 40px;
    border-radius: 40px;
}
.card-link:hover{
    background-color: $balanceHover;
    border: 1px solid $balanceHover;
}

@media (max-width: $breakpoint){
    .card{
        width: 80%;
        margin: 0 auto;
    }
}

/*Projects*/
.projects{
    background-color: $offBlack;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    padding-bottom: 160px;    
}
#projects-header{
    color: $default;
    font-size: 2.5em;
    margin: 30px auto 40px auto;
}
#filter{
    text-align: left;
    margin: $margin;
    width: 80%;
    padding: 0, 0, 0, 30px;
}
#filter > select{
    margin-left: -30px;
    margin-bottom: 20px;
    background-color: $light;
    color: $offBlack;
    border: 1px solid $balance;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1em;
}
.proj{
    display: inline-block;
    text-align: left;
    width: 80%;
    background-color: $default;
    padding: 30px;
    margin: $margin;
    margin-bottom: 30px;
}
.proj-head{
    font-size: 1.8em;
}
.proj-desc{
    width: 100%;  
    display: inline-block; 
    color: $offBlack;
    font-size: 1.1em;
}
.proj-desc > a{
    color: $primary;
    text-decoration: none;    
}
.proj-desc > a:hover{
    text-decoration: underline;
}
.proj-desc > span{
    font-weight: bold;
}
.proj-btn{
    background-color: $offBlack;
    color: white;
    border-radius: 5px;
    padding: 0px 15px;
    border: none;
    font-size: 1em;
    font-family: $defaultFont !important;
    font-weight: 200;
    border: 1px solid $offBlack;
    margin-right: 10px;
}
.proj-btn:hover{
    background-color: white;
    color: $offBlack;
    border: 1px solid $offBlack;
}

@import "./_footer";