@import "./_variables.scss";
@import "./_styles";

/*Nav*/
nav{
    margin: auto;
    width: 100%;
    height: 100%;
    background: url("../../media/mountain-background.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#navigation{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-family: 'Asap', $font;
}
.nav-links{
    width: 200px;
    display: inline-block;       
}
#navigation > i{
    display: none;
}
#navigation a, i{
    text-align: center;
    margin: $margin;
    padding: 15px 0;
}
.default-navigation{
    background-color: transparent;
    top: 20px;
    border-bottom: 1px solid transparent;
}
.default-navigation > a{
    color: $default;
    transition: background-color .8s;
}
.default-navigation > a:hover{
    background-color: rgba(255, 255, 255, .15);
}

@media (max-width: $breakpoint){
    .nav-links{
        display: none;
        width: 100%;
    }
    #navigation > a{
        text-align: left;
        padding: 15px;
    }
    #navigation > i{
        text-align: left;
        display: block;
        font-size: 1.2em;
        width: 80%;
        margin-left: 15px;
    }
}
.scrolled-navigation{
    background-color: $default;
    top: 0;
    border-bottom: 1px solid black;
}
.scrolled-navigation > a{
    color: black;
}
.scrolled-navigation >a:hover{
    color: $primary;
}
#nav-personal{
    text-align: center;
    display: inline-block;
    padding-top: 16%;
    width: 100%;
}
#name{
    font-size: 3em;
    font-family: 'Asap', monospace;
    letter-spacing: 10px;
    color: $default;
}

#nav-title{
    width:100%;
    text-align: center;
    color: $default;
    font-size: 1.4em;
    padding-top: 20px;
}
#full-degree{
    display: inline-block;
}
#abbr-degree{
    display: none;
}
@media (max-width: $breakpoint){
    #name{
        font-size: 2.5em;
    }
    #full-degree{
        display: none;
    }
    #abbr-degree{
        display: inline-block;
    }
}

#read-more{
    margin: $margin;
    margin-top: 70px;
    width: 100%;
    text-align: center;
}
#read-more > a > button{
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid white;
    transition: background-color .8s;
    font-family: $spaced;
}
#read-more > a > button:hover{
    background-color: $hover;
}

/*About Me*/
.about-me{
    background-color: $light;
    text-align: center;
    padding: 75px 0;
    margin-top: 0;
}
#intro{
    background-color: $default;
    padding: 40px;
    width: 60%;
    margin: 50px auto 60px auto;
    font-size: 1.4em;
    border: 1px solid $dark;
    box-shadow: 0px 0px 20px $dark;
}
#info{
    text-align: justify;  
    color: $secondary;   
}
@media (max-width: $breakpoint){
    #info{
        text-align: left;
    }
}
.about-me label{
    color: $primary;
}
#resume{
    margin: $margin;
}
#resumeDownload{
    font-family: $spaced;
    border-radius: 30px;
    width: 200px;
}

/*Links*/
.container{
    width: 100%;
    background-color: $default;
    text-align: center;
    padding: 50px 0;
    padding-bottom: 150px;
}
#linksHead{
    text-align: center;
    color: $secondary;
    font-size: 3em;
    margin: 30px auto 40px auto;        
}
.card{
    width: 25%;
    background-color: $default;
    margin: $margin;
    margin: auto 40px;
    display: inline-block;
    vertical-align: top;
}
.hover-effect{
    height: 100%;
    color: transparent;
    border-radius: 20px;
}
.hover-effect:hover{
    background: rgba(0, 0, 0, .6);
    color: $default;
    transition: background 1s, color 1s;
}
.hover-effect > span{
    font-size: 2em;
    letter-spacing: 1px;
    font-family: $spaced;
    position: relative;
    top: 40%;
}
.card-image{
    margin: $margin;
    width: 100%;
    max-width: 380px;
    height: 250px;
    border: 1px solid $light;
    border-radius: 20px;
    background-size: cover;
    z-index: 1;
}
#card-github{
    background: url("../../media/computer.jpg") no-repeat;
    background-size: cover;
}
#card-linkedin{
    background: url("../../media/social.jpeg") no-repeat;
    background-size: cover;
}
#card-trailhead{
    background: url("../../media/trailhead.jpeg") no-repeat;
    background-size: cover;
}
.card-desc{
    margin: $margin;
    width: 100%;
    max-width: 380px;
    font-size: 20px;
    color: $dark;  
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-desc > p > a{
    color: $primary;
}
.card-desc > p > a:hover{
    text-decoration: underline;
}
.card-button{
    width: 100%;
    margin-bottom: 30px;
}
.card-button > a > button > i{
    margin: 0;
    padding: 0;
}
.card-link{
    width: 140px;
    color: $default;
    background-color: $balance;
    border: 1px solid $balance;
    height: 40px;
    border-radius: 40px;
    font-size: 1.1em;
}
.card-link:hover{
    background-color: $balanceHover;
    border: 1px solid $balanceHover;
}

@media (max-width: $breakpoint){
    .card{
        width: 80%;
        margin: 0 auto;
    }
}

/*Projects*/
.projects{
    background-color: $secondary;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    padding-bottom: 160px;    
}
#projectsHead{
    color: $default;
    font-size: 3em;
    margin: 30px auto 40px auto;
}
#filter{
    text-align: left;
    margin: $margin;
    width: 80%;
    padding: 0, 0, 0, 30px;
}
#filter>select{
    margin-left: -30px;
    font-size: 1em;
    margin-bottom: 20px;
    background-color: $extra-light;
    color: $secondary;
    border: 1px solid $balance;
    border-radius: 10px;
    padding: 10px;
}
.proj{
    display: block;
    text-align: left;
    width: 80%;
    background-color: $default;
    padding: 30px;
    margin: $margin;
    margin-bottom: 30px;
}
.projHead{
    font-size: 2em;
}
.projDesc{
    width: 100%;  
    display: inline-block; 
    font-size: 1.2em;
    color: black;
}
.projDesc > a{
    color: $primary;
    text-decoration: none;    
}
.projDesc > a:hover{
    text-decoration: underline;
}
.projDesc > span{
    font-weight: bold;
}

/*Footer*/
footer{
    background-color: $default;
    text-align: center;
    font-size: 1.5em;
    padding: 50px 0;
    color: black;
}
#footer-email > span{
    color: $primary;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: $primary;
    text-decoration: underline;
}
#footer-icons{
    font-size: 1.8em;
}
.footer-icon{
    margin: 0 5px;
}